.centre{
    position:relative;
    margin-left: 500px;
    margin-top: 250px;
    margin-right: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: aqua;
}

.login{
    border-radius: 30px;
    background-color:teal;
    color: aliceblue;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
    text-decoration: none;
}

.login:hover{
    background-color: rgb(1, 53, 53);
}

.box{
    padding: 10px;
    border-radius: 20px;
}
